input[type=text] {
  padding:0.5em;
  height: 1.0em;
  width: 200px;
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: orange;
  color:white;
  margin:10px;
  
  cursor: pointer;
}